.footer {
    .container {
      display: flex;
      justify-content: space-around;
      margin-top: 150px;
    }
    &__nav {
      display: flex;
      justify-content: space-between;
      max-width: 50%;
      gap: 125px;
      
      .column__title {
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
    
        margin-bottom: 20px;
      }

      .text-medium {
        font-weight: bold;
    }
  
      .list__item {
        padding-bottom: 10px;
      }
      .item__link {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
  
      }
    }
    &__info {
      max-width: 340px;
    }
    .footer__year {
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 30px;
      color: #afb5c0;
    }
  }

  .nav__column {
      display: flex;
      flex-direction: column;
      
  }

  .footer__social {
    margin: 5px;
  }