.subscribe {
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: $primary-color;
    padding: 1.3rem;

    &--position {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__content {
        max-width: 370px;
    }

    &__title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 35px;
        line-height: 45px;
        color: black;

        @media screen and (max-width: 768px) {
            text-align: center;
            font-size: 25px;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        max-width: 500px;
        font-size: 16px;
        line-height: 30px;
        color: $primary-color;

        @media screen and (max-width: 768px) {
        margin-bottom: 20px;
        text-align: center;
        }
    }

    &__blur {
    position: relative;
    width: 250px;
    height: 45px;
    background: rgba(245, 56, 56, 0.35);
    filter: blur(18px);
    border-radius: 10px;
    bottom: 20px;
    }
}

.subscribe__link {
    width: 250px;
    height: 60px;
    background-color: $button-color;
    color: $primary-color;
}

.subscribe__text {
    display: flex;
    justify-content: center;
    margin: 20px 15px;
    color: $primary-color;
}



