// Color
$primary-color: #FFFFFF;
$secondary-color: #F7F7F7;
$third-color: #F8F8F8;
$button-color: #F53838;

// Typography
$title-color: #0B132A;
$text-color: #4F5665;
$font: 'Rubik';



// Small tablets and large smartphones (landscape view)
$screen-sm-max: 568px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1024px;




//typography
$xxl-text: 35px;
$xl-text: 25px;
$lg-text: 20px;
$md-text: 18px;
$sm-text: 16px;
$xs-text: 14px;